// TO DO
// refactor jquery
// shadow on ipad not really right (rendering issue)
// some numbers not bolded in description, but can't differentiate between those in url
// spinner until the file for numbres loads

@mixin media ($width) {
  @media (min-width: $width) {
    @content;
  }
}

*,
*::before,
*::after {
  // border: 1px solid lightblue;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

$blue: #31486B;
$background: #FFECC1;

body {
  background-color: $background;
  color: #31486B;
  font-family: europa;
  position: relative;
  min-height: 100vh;
	padding-bottom: 5em;
  // padding-top: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
  @include media(580px) {
    // padding-top: 4em;
  }
}

h1 {
  // font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 5em 0 5em;
  line-height: 1.5em;

  @include media(580px) {
    padding: 0;
    font-size: 0.9em;
  }
}

.content-wrapper {
	 	transition: all 1s;
		opacity: 0;
    max-width: 40em;
    margin: 0 auto;

    @include media(580px) {
      padding-left: 4em;
      padding-right: 4em;
    }
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
  text-align: inherit;
  width: 100%;
  color: $blue;
  text-shadow: .03em .03em 0 $background;
}

.input {
  font-size: 4em;
  color: $blue;
  font-family: europa;
  font-weight: 700;
  padding-bottom: 0.1em;
  border-bottom: 2px solid $blue;
  width: 12rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 0;
  position: relative;
  text-align: center;
  margin-top: 0.8em;

  @include media(580px) {
    font-size: 5em;
    margin-top: 0.7em;
  }

  &:after {
    position: absolute;
    width: 100%;
    top: .07em;
    left: .07em;
    z-index: -1;
    content: attr(data-shadow);
    display: block;
    background-image:
    linear-gradient(
      45deg,
      transparent 45%,
      currentColor 45%,
      currentColor 55%,
      transparent 0
    );
    background-size: .07em .07em;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance:none;
  margin: 0;
}

.text {
  text-align: center;
  padding: 0 1.5em 0 1.5em;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.3em;
  min-height: 8em;

  a {
    font-weight: 700;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
  }

  @include media(580px) {
		min-height: 7.5em;
    padding: 0.4em 0 0 0;
    font-size: 1.6em;
  }
}

.number {
  font-weight: 700;
  font-size: 0.7em;
}

.property {
  // padding-top: 0.5em;
  font-size: 0.7em;
  word-spacing: 0.5em;
  font-weight: 300;
  text-align: center;
  line-height: 1.5em;

	span {
		transition: all 0.2s;
	}

  @include media(580px) {
    font-size: 0.9em;
  }
}

footer {
  font-weight: 300;
  text-transform: uppercase;

  letter-spacing: 0.16em;
  font-size: 0.4em;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  left: 1.5em;

  @include media(580px) {
    font-size: 0.6em;
  }
}

.footer__made {
  width: 50%;
  float: left;
}

.footer__credit {
  width: 50%;
  float: right;
  text-align: right;
}

a {
  color: $blue;
}

sup {
	font-weight: 700;
	font-size: 0.4em;
	// vertical-align: super;
	display: inline-block;

	//if caps 'TH' (some are n)
	// letter-spacing: 0.1em;
	// padding-left: 0.1em;
	// text-transform: uppercase;
}

sub {
	font-weight: 700;
	font-size: 0.4em;
}

.is-bold {
  font-weight: 700;
}

.is-visible {
	opacity: 1;
}
